/* COMMON */
@media screen and (max-width: 480px) {
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 481px) {
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .desktop {
        display: flex;
    }
    .tablet {
        display: none;
    }
    header .button {
        padding: .3rem .6rem;
    }
}

@media screen and (min-width: 993px) {
    .container {
        width: 900px;
    }
}

/* DEMO */
@media screen and (max-width: 480px){
    .image {
        width: 100%;
        min-height: 300px;
    }
}

@media screen and (min-width: 481px) {
    .demo .text {
        width: 100%;
    }
    .image {
        width: 50%;
        height: 200px;
    }
    .demo .card {
        width: calc(100% / 3 - (2 * var(--flex_gap) / 3));
    }
    #major {
        width: calc(2 * ((100% / 3) - (2 * var(--flex_gap) / 3)) + var(--flex_gap));
    }
}

@media screen and (min-width: 769px) {
    .image {
        width: 50%;
        align-self: flex-end;
        height: 200px;
    }
    #major {
        flex-direction: row;
    }
}

@media screen and (min-width: 993px) {
    .demo .button {
        margin-bottom: 3rem;
    }
}

/* PLANNING */
@media screen and (max-width: 768px) {
    .planning .card {
        margin: 0 auto 1rem;
    }
}

@media screen and (min-width: 769px) {
    .planning .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .planning .card {
        width: calc(95% / 2);
        margin: 0;
    }

    .strategic img {
        padding-bottom: 8rem;
    }
}

/* TESTIMONIALS */
@media screen and (min-width: 480px) {
    .testimonials h2 {
        font-size: 3rem;
    }
    .testimonials .card {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
    .testimonials img {        
        width: 35%;
    }
    .testimonials .card:first-child {
        text-align: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .testimonials img {        
        max-width: 200px;
    }
    .testimonials .card {
        padding: 1.7rem 1rem;
    }
}

/* BENEFITS */
@media screen and (min-width: 480px) {
    .benefits .card {
        width: calc(100% / 2 - .75rem);
    }
}

@media screen and (min-width: 768px) {
    .benefits .card {
        width: calc(100% / 3 - .75rem);
    }
}

/* ABOUT_US */
@media screen and (min-width: 480px) {
    .about_us .flex {
        flex-direction: row;
        gap: 0;
    }
    .about_us h2 {
        font-size: 3rem;
    }
    .about_us h3 {
        text-align: left;
    }
    .about_us .card {
        width: 60%;
    }
    .about_us .card:last-child {
        padding: .5rem;
        text-align: center;
        width: 35%;
    }
    .about_image {
        width: 100%;
    }
    .about_us img {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .about_us .card {
        width: 70%;
    }
    .about_us .card:last-child {
        padding: .5rem;
        text-align: center;
        width: 25%;
    }
}